<% provide(:title, "All users" )%>
<h1>All users</h1>

<%= will_paginate %>

<ul class= "users">
    <% @users.each do |user|%>
    <li>
        <%= image_tag image_path("avatars/1.png"), :id=> "avatar-img"%>
        <%= link_to user.name, user_homepage_path %>
    </li>
    <% end %>

</ul>

<%= will_paginate %>