<div class="container">
  <section style="width: 100%; ">
    <% if @current_user.nil? %>
      <div class="row">
        <div class="col s12" style="display:block; margin-left: 10px; margin-bottom: 20px; height: 240px; width: 100%;">
          <div class="welcome-header" style="height: 160px;margin-bottom: 20px;">
            <h1 class="welcome-title center-align light-blue-text darken-3">Welcome to Gaddit!</h1>
            <p class="welcome-title-link light-blue-text darken-3 center-align">Join today: <%= link_to "Sign up", new_user_path,class:"btn light-blue darken-3" %></p>
          </div>
          <div class="card-action" style="height: 60px;">
            
          </div>
        </div>
        <div class="col s12">
          <%= render partial: "pages/post_display", collection: @posts.reverse %>     
        </div>
      </div> 
    <% else %>
      <%= render partial: "pages/post_display", collection: @posts.reverse %> 
    <% end %>
  </section>
</div>