

<div class="home-container max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
    <div class="home-content md:flex">
        <div class="md:shrink-0">
            <%= image_tag("logo.gif", alt: "Home", class: 'h-48 w-full object-cover md:h-full md:w-48')%>
        </div>
        <div class="text-center p-8">
            <p class= "home-title uppercase tracking-wide  text-sky-600 font-bold">Welcome to Gaddit</p>
            <p class="mt-2 text-slate-500">Join us today!</p>
            <button class = "w-100 btn btn-primary btn-lg" ><%= link_to "Sign up now!", new_user_path%></button>
        </div>
    </div>
</div>