<h1 class ="logo">gaddit</h1>

<div class="container">
    <div class="content">
        <h1>Welcome to Gaddit</h1>
        <h3>Join us today!</h3>
        <button class = "form-btn"><%= link_to "Sign up now!", new_user_path%></button>
    </div>
</div>