

<div class="container">
    <div class="content">
        <h1>Welcome to Gaddit</h1>
        <h3>Join us today!</h3>
        <button lass = "py-2 px-4 bg-sky-600 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75" ><%= link_to "Sign up now!", new_user_path%></button>
    </div>
</div>