
    <div class="post-show card z-depth-2">
        <div class="user_info card-content">
        <h6>Comment by <%= (comment.user.name)%></h6>
        <p><%= comment.content %></p>
    </div>
    <div class="card-action">
        <% if comment.user_id == @current_user.id %>
        <%=link_to "Delete", remove_comment_path(comment.id), :method => "post",class:"", role: "button",:data => {:confirm => "Are you sure?"} %>
        <% end %>
        <span class="right light-blue-text darken-3">posted by <%= time_ago_in_words(comment.created_at)%> ago</span>
    </div>

