/* header nav */

  nav a:hover {
    color: white;
  }
  nav {
    margin-bottom: 50px;
  }
  body {
    background-color: #eceff1;
  }
  /* .card {
    height: 220px;
    width: 500px;
  } */


/* log-in page */
.login-title{
    text-align: center;
    margin-top: 2em;
}

/*home page*/ 


  .welcome-title{
    font-size: 80px;
    margin-top: 20px;
  }
  .welcome-title-link{
    font-size: 30px;
    margin-top: -10px;
  }

.center {
    text-align: center;
    margin: 10vh auto;
    padding: 20vh auto;
}
.center img {
    margin-top: 20px;
    width: 30vw;
}
.center h1{
    font-size: 2.5em;
    font-weight: 600;
    margin: 10vh auto;
}
/* new post form */
.new-post-header{
    line-height: 1rem;
    color: #0277bd;
    margin: 50px auto;
    text-align: center;
}
.new-post-btn {
    float: right;
}


/* post show page */

.user_info {
    color: #0277bd;
}    

.post-show {
    border-radius: 4px;
    margin-top: 20px;
}
.new-comment-form {
    border-radius: 4px;

    color: #0277bd;

}
.new-comment-form button{
    color: #0277bd;
    border-radius: 4px;
    float:right;
    display: inline;
}
/* user homepage */
.create-post{
    margin-top: 40px;
}

.create-post button{
    float:right;
    display: inline;
}
.create-post button a{
    text-decoration: none;
    color: white;
    display:inline;
}
.space {
    margin: 50px auto;
}

/* User profile page */
.card-panel {
    border: 2px solid #0277bd;
    border-radius: 4px;
    background-color: #eceff1;
}
.user-channel-header button{
    float:right;
    display: inline;
}
.user-channel-header button a {
    text-decoration: none;
    color: white;
    display: inline;
}
.profile-channel-name{
    font-size: 15px;
}