/* Header */
#user-header{
    font-weight: 800;
    font-size: 50px;
    text-align:left;
}

h1 {
    text-align: center;
    font-weight: 800;
}
.channel-title {
    font-size: 30px;
    text-align: left;

}
.header {
    height: 10%;
    width: 100vw;
    color: lightblue;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: white;
}
.fix-header {
    padding: 10px auto;
    position:fixed;
    top:0;
    width: 100%;
    z-index: 2;
}


.page-content {
    position: absolute;
    margin-top: 100px;
    margin-left: 5%;
    padding: 16px;
    width: 80vw;
}

.header nav{
    position: absolute;

}
.logo {
    font-weight: 600;
    top:0;
    left:5%;
    position: absolute;
    cursor:pointer;
}

nav {
    position: absolute;
    display: flex;
    top:15%;
    right: 5%;
}
nav a {
    margin: 20px 10px;
}
/* Signup page */
.sign-up {
    margin: 0 auto;
    font-size: 30px;
    display: block;
    text-align: center;
}

 .form-control {
    display: block;
    margin: 10px auto;
    line-height: 3em;
    padding:5px 15px;
    border-radius: 5px;
    border: 2px solid lightslategrey;
}
.sign-up-form form label {
    text-align: center;
    margin-left: 40%;
    font-weight: bold;
}
.form-btn {
    font-size: 20px;
    font-weight: 300px;
    display: block;
    margin: 20px auto;
    border: none;
    border-radius: 12px;
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.form-btn a{
    color: white;
    text-decoration: none;
}
.form p {
    text-align: center;
}

.signup-link {
    font-weight: bold;
    color: rgb(47, 47, 132);
    
}
.home-container{
    width: 80vw;
    text-align: center;
    margin: 0 auto;
    margin-top: 10%;
    height: 40vh;
    display:flex;
    justify-content: center;
    position:relative;
    border: none;
    border-radius: 12px;
    vertical-align: middle;
}

.home-content {
    width: 100%;
    margin: 0 auto;
}
.home-content {
    font-size: 30px;
}
.home-content button{
    display: block;
    margin: 60px auto;
}
.home-title{
    font-size: 2.2rem;
    line-height: 1.75rem;
}
.content {
    width: 200px;
    height: 50vh; 
    display: block;
    text-align: center;
    margin: -100px 0 0 -100px;
    position:absolute;
    top: 50%;
    left: 50%;
}


.notice {
    color: red;
    font-weight: bold;
}

#back-to-top {
    position: fixed;
    right: 50px;
    bottom: 30px;
}

.channel-list{
    border-radius: 4px;
    border: 1px solid lightblue;
    display: flex;
    margin-bottom: 16px;
    padding: 8px;
    width: 80%;
    vertical-align: baseline;
}
.post-list {
    width: 80%;

} 
.create-post {
    display: flex;
    margin-left:69%;
    margin-bottom: 20px;
}
.create-post-btn{

    font-size: 30px;
    font-weight: 300px;
    display: block;
    border: none;
    border-radius: 12px;
    text-decoration: none;
    cursor: pointer;
}
.create-post-btn a{
    color: white;
    text-decoration: none;
}


/* post new page */
post-container {
    margin-top: 20vh;
    width: 50vw;
    height: 70vh;
    background: lightblue;
    border-radius: 10px;
    box-shadow: 0 12px 28px rgba(0,0,0,0.12); 
}

.new-post header {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    padding: 17px 0;
    border-bottom: 1px solid #bfbfbf ;
}
.new-post-content {
    margin: 15px 50px 0 50px;
}
.new-post-content label{
    display: block;
    margin: 10px auto; 
}

.new-post-content input{
    height: 30px;
    border-radius: 4px;
    width: 60vw;
}

.new-post-content textarea {
    border-radius: 4px;
    height: 200px;
    width: 60vw;
}
