
#user-header{
    font-weight: 800;
    font-size: 50px;
    text-align:left;
}

h1 {
    text-align: center;
    font-weight: 800;
}

.header {
    height: 10%;
    width: 100vw;
    color: lightblue;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: white;
}
.fix-header {
    padding: 10px auto;
    position:fixed;
    top:0;
    width: 100%;
    z-index: 2;
}


.page-content {
    position: absolute;
    margin-top: 100px;
    margin-left: 5%;
    padding: 16px;
}

.header nav{
    position: absolute;

}
.logo {
    font-weight: 600;
    top:0;
    left:5%;
    position: absolute;
    cursor:pointer;
}

nav {
    position: absolute;
    display: flex;
    top:50%;
    right: 5%;
}
nav a {
    margin: 20px 10px;
}

.sign-up {
    margin: 0 auto;
    font-size: 30px;
    display: block;
    text-align: center;
}

 .form-control {
    display: block;
    margin: 10px auto;
    line-height: 3em;
    padding:5px 15px;
    border-radius: 5px;
    border: 2px solid lightslategrey;
}
label {
    text-align: center;
    margin-left: 40%;
    font-weight: bold;
}
.form-btn {
    font-size: 30px;
    font-weight: 300px;
    display: block;
    margin: 20px auto;
    border: none;
    border-radius: 12px;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(56, 56, 142);
    color: white;
}

.form-btn a{
    color: white;
    text-decoration: none;
}
.form p {
    text-align: center;
}

.signup-link {
    font-weight: bold;
    color: rgb(47, 47, 132);
    
}
.container{
    background-color: lightgray;
    width: 80vw;
    text-align: center;
    margin: 0 auto;
    margin-top: 10%;
    height: 40vh;
    display:flex;
    justify-content: center;
    position:relative;
    border: none;
    border-radius: 12px;
}

.content {
    width: 200px;
    height: 200px; 
    display: block;
    text-align: center;
    margin: -100px 0 0 -100px;
    position:absolute;
    top: 50%;
    left: 50%;
}


.notice {
    color: red;
    font-weight: bold;
}

#back-to-top {
    position: fixed;
    right: 50px;
    bottom: 30px;
}

.channel-list{
    border-radius: 4px;
    border: 1px solid lightblue;
    display: flex;
    margin-bottom: 16px;
    padding: 8px;
    width: 80%;
    vertical-align: baseline;
}
.post-list {
    width: 80%;

} 
.create-post {
    display: flex;
    margin-left:69%;
    margin-bottom: 20px;
}
.create-post-btn{

    font-size: 30px;
    font-weight: 300px;
    display: block;
    border: none;
    border-radius: 12px;
    text-decoration: none;
    cursor: pointer;
}
.create-post-btn a{
    color: white;
    text-decoration: none;
}



